<footer class="container">
    <p>Detta skolprojekt är ett sammarbete mellan es20 och te19 från
        <a href="https://www.ntigymnasiet.se/umea/" target="_blank">NTI Gymnasiet Umeå</a>.</p>
    <p>Den här templaten hittar du på <a href="{{ pkg.repository.url }}" target="_blank">GitHub</a>.</p>
    <p>Om du hittar en bug eller har feedback skapa gärna ett <a href="{{ pkg.repository.url }}/issues" target="_blank">issue</a> på GitHub.</p>
</footer>