---
layout: layouts/base.njk
title: Spelet
---
<main class="container">
    <div id="game"></div>
</main>
<script src="https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
<script src="/js/bundle.js"></script>